.vue-component-card {
  margin-top: 20px;
}

.vue-component-card-header {
  font-size: 18px;
}

.copyBtn {
  cursor: pointer;
}

.copyBtnHover:hover {
  color: #42B983;
}

.tipText {
  margin-bottom: 20px;
}

.themeColor {
  color: #42B983;
}
